
/* ============================================================================================================= */
/* 			----  Tablet Big Size ---- */
/* ============================================================================================================= */
@media screen and (min-width: 723px) and (max-device-width : 1024px) {
    
	/* ============================================================================================================= */
	/* 			----  HEADER  ---- */
	/* ============================================================================================================= */

		/* =============================== */
		/* Nav */
		/* =============================== */
		.logoEtMenu {
			display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
			
			margin: 0%;
			
			padding: 0%;
			
			/* background-color: greenyellow; */
		}


			/* =============================== */
			/* Img */
			/* =============================== */
			.logo {
				margin-top: 3.5%;
				margin-left: 3%;
				
				height: 45px;

				/* background-color: orange; */
			}


			/* =============================== */
			/* Div */
			/* =============================== */
			.menu {			
				margin-top: 6%;
				margin-right: 4%;
				margin-left: 4%;

				padding: 0%;
				
				width: 47%;
			}
			

				/* =============================== */
				/* Li */
				/* =============================== */
				.menu ul {
					width: 65%;
				}


						.menu li a.active {					
							margin-left: -12%;
						
							padding-top: 24%;
							padding-right: 15%;
							padding-left: 12%;
						}


				.menu a.fixed {
					margin-left: 0%;
				}


		/* =============================== */
		/* Div */
		/* =============================== */
		.textHeader_Top {
			display: flex;
			flex-wrap: wrap;

            margin-top: 3%;
            margin-left: 3%;

			width: 43%;

			/* background-color: greenyellow; */
		}
		
		
			/* Trouvez votre hébergement ... */
			.textHeader_Top h2 {
				font-size: 140%;
				word-spacing: -30%;
				line-height: 140%;

				margin: 0%;
				
				/* background-color: darkturquoise; */
			}


			/* En plein centre ville... */
			.textHeader_Top p {
				margin-top: 2%;
				margin-left: 0%;
				
				/* background-color: darkviolet; */
			}


		/* =============================== */
		/* Div */
		/* =============================== */
		.rechercher {
			display: flex;
			justify-content: center;

            margin-top: 3.5%;
			margin-left: 2%;

			width: 50%;
		}


			/* =============================== */
			/* Figure */
			/* =============================== */
			.rechercher figure {
				width: 64px;
			}


			/* =============================== */
			/* Form */
			/* =============================== */
			.rechercher form {
				display: flex;
			}


				.rechercher input {					
					padding-left: 9%;

					/* background-color: violet; */
				}

			
			/* Rechercher */
			.rechercher a {
				margin-left: -1%;

				padding-right: 28px;
				padding-left: 25px;
            }

				
				.rechercher a .searchIcon {
					font-size: 0%;

					width: 0%;
				}


		/* =============================== */
		/* Nav */
		/* =============================== */
		nav {
			display: flex;
			flex-wrap: wrap;
			align-content: space-between;

			margin-top: 0.5%;
			
			/* background-color: greenyellow; */
		}


			/* Filtres */
			nav h2 {
				margin: 0%;

				width: 100%;

				/* background-color: orange; */
			}

			
			/* =============================== */
			/* Li */
			/* =============================== */
			.filtres {
				display: flex;
				flex-wrap: wrap;
				align-content: space-between;

				margin-top: 1.5%;
				margin-left: -1%;
				margin-bottom: 0%;

				width: 100%;

				/* background-color: darkturquoise; */
			}

				.filtres li {
					margin-right: 0.4%;

					height: 46px;
					
					/* background-color: orange; */
				}


					/* =============================== */
					/* Figure */
					/* =============================== */
					.filtres li figure {
						width: 50px;
						height: 50px;
					}


						/* =============================== */
						/* Div */
						/* =============================== */
						.filtresOnHover a {

							/* h2 */
							font-size: 100%;
	
							padding-right: 17px;
							padding-left: 53px;
							
							/* background-color: darkturquoise; */
						}


			/* =============================== */
			/* Div */
			/* =============================== */
			.textHeader_Bot {
				margin: 0%;

				padding: 0%;

				/* background-color: greenyellow; */
			}


				/* =============================== */
				/* Figure */
				/* =============================== */
				.textHeader_Bot figure {
					display: flex;
					justify-content: center;
					align-items: center;

                    margin: 1.5%;
                    margin-right: 2%;

					height: 20px;
					width: 20px;
					
					border:  lightgray solid 2px;
					border-radius: 30px;
						
					/* background-color: red; */
				}
				
				
					.textHeader_Bot figure i {
						font-size: 75%;
						color: #0065FC;
					}
				
				
				/* Plus de 500 logements... */
				.textHeader_Bot p {
					margin: 0%;

					width: 60%;

					/* background-color: darkviolet; */
				}




	/* ============================================================================================================= */
	/* 			----  SECTION  ----  Hébergement Et Populaires  ---- */
	/* ============================================================================================================= */
	.hebergementsEtPopulaires {
		display: flex;
		flex-wrap: wrap-reverse;
        justify-content: center;

		/* background-color: violet; */
	}


		.hebergementsEtPopulaires .W3C_Validator {
			font-size: 0%;
		}



		/* ==================================================== */
		/* ----  SECTION  ----  Hébergements
		/* ==================================================== */
		.hebergements {
			margin: 0%;
            margin-top: 3%;
            
            width: 98%;

            border-radius: 20px;
		}
		

			/* Hébergements à Marseille */
			.hebergements h2 {
				font-size:  123%;

                margin: 2%;
				margin-bottom: 1%;
			}


			/* =============================== */
			/* Div */
			/* =============================== */
			.hebergementsPhotos {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;

				margin: 0%;

				width: 100%;

                /* background-color: orange; */
			}


				.hebergementsPhotos a {
                    width: 31%;
                    margin: 1%;
				}


				/* =============================== */
				/* Figure */
				/* =============================== */
				.hebergementsPhotos .thumbnails {
					display: flex;
					flex-wrap: wrap;
					align-content: center;
					
					padding: 5px;

					height: 220px;
				}


					/* =============================== */
					/* Img */
					/* =============================== */
					.hebergementsPhotos .thumbnails Img {
						margin-top: -75px;

						height: 65%;
					}


					/* =============================== */
					/* Figcaption */
					/* =============================== */
					.hebergementsPhotos .thumbnails figcaption {
						margin: 0%;
						margin-bottom: -150px;

						padding: 0%;
						padding-left: 6%;
					}				


			/* Afficher plus */
			.hebergements h3 {
				margin: 4%;
			}




		/* ==================================================== */
		/* ----  SECTION  ----  Populaires
		/* ==================================================== */
		.populaires {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

			margin: 0%;
            margin-top: 1%;
			
			padding: 0%;
			padding-bottom: 1.5%;

            width: 98%;
		}
		

			/* =============================== */
			/* Div */
			/* =============================== */
			.populairesTitle {
				justify-content: flex-start;

				margin: 0%;
                margin-left: 0.5%;
				
				padding: 0%;

                width: 100%;

				/* background-color: lime; */
			}


				.populairesTitle h2 {
					font-size: 113%;
				}


				/* =============================== */
				/* Figure */
				/* =============================== */
				.populairesTitle figure {
					margin-left: 2%;
				}



			/* =============================== */
			/* Div */
			/* =============================== */
			.populairesPhotos {
				display: flex;
				flex-wrap: wrap;
                justify-content: space-between;

				width: 95.5%;

				/* background-color: darkturquoise; */
			}


			.populairesPhotos a {
				display: flex;
				justify-content: center;

				margin: 0%;

				width: 31%;
			}
				

				/* =============================== */
				/* Figure */
				/* =============================== */
				.populairesPhotos a .thumbnails {
					display: flex;
									
					position: relative;

					margin: 0%;

					padding: 5px;

					width: 100%;
					height: 140px;
				}


						/* =============================== */
						/* Img */
						/* =============================== */
						.populairesPhotos a .thumbnails Img {
							width: 45%;
						}


						/* =============================== */
						/* Figcaption */
						/* =============================== */
						.populairesPhotos a .thumbnails figcaption {
							display: flex;
							flex-wrap: wrap;
							align-content: space-around;

							position: absolute;

							margin-left: 45%;

                            width: 50%;
							height: 126px;

							/* background-color: yellowgreen; */
						}


							/* Figcaption h2 */
							.populairesPhotos a .thumbnails figcaption h2 {
								margin: 0%;			
								
								width: 85%;
								
								/* background-color: violet; */
							}


							/* Figcaption p */
							.populairesPhotos a .thumbnails figcaption p {
								margin: 0%;
								
								width: 85%;
								
								/* background-color: darkviolet; */
							}

							
								/* =============================== */
								/* Figure  --- Stars --- */
								/* =============================== */
								
								/* Figure Stars */
								.populairesPhotos a .thumbnails figcaption figure {
									display: flex;

									margin: 0%;

									/* background-color: tomato; */
								}
								

									/* Active Stars */
									.populairesPhotos a .thumbnails figcaption .active {
										font-size: 75%;

										color: #0065FC;
									}


									/* Greyed Out Stars */
									.populairesPhotos a .thumbnails figcaption .greyedOut {
										font-size: 75%;

										color: lightgray;
									}
					



	/* ============================================================================================================= */
	/* 			----  SECTION  ----  Activités  ---- */
	/* ============================================================================================================= */
	.activites {
		display: flex;
		flex-wrap: wrap;
        
        margin-top: 7%;

		padding-bottom: 2%;
        
        width: 96%;
        
        border-radius: 20px;

        background-color: #F2F2F2;
	}


		.activites h2 {
            margin: 3%;

			/* background-color: lime; */
		}


		/* =============================== */
		/* Div */
		/* =============================== */
		.activitesPhotos {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			margin: 0%;

			width: 100%;

			/* background-color: orange; */
		}	
		
		
			/* =============================== */
			/* Figure */
			/* =============================== */
			.activitesPhotos .thumbnails {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-content: center;

				position: relative;

                width: 50%;

				margin: 0%;
				margin-top: 1%;
				margin-bottom: 1%;
				
				/* background-color: darkviolet; */
			}


				.activitesPhotos .thumbnails a {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;

					width: 50%;
				}
				
				
					/* =============================== */
					/* Figure */
					/* =============================== */
					.activitesPhotos .thumbnails figure {
						display: flex;
						flex-wrap: wrap;
						align-items: flex-end;
						justify-content: center;
											
						position: relative;
						
						margin: 0%;

						width: 95%;

						border-radius: 20px;
						box-shadow: 5px 5px 10px lightgray;
					}
						
						
						/* =============================== */
						/* Img */
						/* =============================== */
						.activitesPhotos .thumbnails Img {
							object-fit: cover;
							
							width: 100%;
							height: 250px;
						
							border-radius: 20px;
						}


						/* =============================== */
						/* --- Img --- Pict 2 --- */
						/* =============================== */
						.activitesPhotos .thumbnails figure .Pict_2 {
							height: 250px;
						}


						/* =============================== */
						/* --- Img --- Pict 3 --- */
						/* =============================== */
						.activitesPhotos .thumbnails figure .Pict_3 {
							height: 250px;
						}


						/* =============================== */
						/* --- Img --- Pict 5 --- */
						/* =============================== */
						.activitesPhotos .thumbnails figure .Pict_5 {
							height: 250px;
						}


						/* =============================== */
						/* --- Img --- Pict 6 --- */
						/* =============================== */
						.activitesPhotos .thumbnails figure .Pict_6 {
							height: 250px;
						}


							/* =============================== */
							/* Figcaption */
							/* =============================== */
							.activitesPhotos .thumbnails figcaption {
								display: flex;
								flex-wrap: wrap;
								align-content: center;
								
								position: absolute;
								
								height: 55px;
								
								border-radius: 0px 0px 20px 20px;

								background-color: white;
							}
							

								/* Vieux Port h2 */
								.activitesPhotos .thumbnails figcaption h2 {
									font-size: 100%;
									
									padding-left: 6.5%;
									
									color: black;
								}
						
						
						


							/* =============================== */
							/* Figcaption */
							/* =============================== */
							.activitesPhotos .thumbnails figure figcaption {
								display: flex;
								flex-wrap: wrap;
								align-content: center;
								
								position: absolute;
								width: 100%;
								
								height: 55px;
								
								border-radius: 0px 0px 20px 20px;

								background-color: white;
							}


								/* Fort de Pomègues h2 */
								.activitesPhotos .thumbnails figure figcaption h2 {
									font-size: 100%;

									padding-left: 6.8%;
									
									color: black;
								}	
				



	/* ============================================================================================================= */
	/* 			----  FOOTER  ---- */
	/* ============================================================================================================= */
	footer {
		display: flex;
		flex-wrap: wrap;
        justify-content: center;

        margin-top: 10%;
        
        width: 100%;
		
		background-color: #F2F2F2;
	}


		/* =============================== */
		/* Div */
		/* =============================== */
		footer div {
			width: 30%;
		}


			footer div h2 {
				margin: 0%;
				margin-top: 8%;
				margin-left: 7.6%;
			}
		
			
			/* =============================== */
			/* Li */
			/* =============================== */
			footer div .footerList {
				list-style: none;
				
				font-family: "Raleway-Regular";

				margin-left: -3%;
				
				/* background-color: yellowgreen; */
			}
}