
/* ============================================================================================================= */
/* 			----  Tablet Small Size ---- */
/* ============================================================================================================= */
@media screen and (min-width: 421px) and (max-device-width : 722px) {
    
	/* =============================== */
	/* Body */
	/* =============================== */
	body {
		display: flex;
        flex-wrap: wrap;
        justify-content: center;
		
		margin: 0%;
	}


	/* ============================================================================================================= */
	/* 			----  HEADER  ---- */
	/* ============================================================================================================= */
	header {
		display: flex;
        flex-direction: column;
        width: 100%;
		
		/* background-color: tomato; */
	}


		/* =============================== */
		/* Nav */
		/* =============================== */
		.logoEtMenu {
			display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
			
			margin: 0%;
			
			padding: 0%;
			
			/* background-color: greenyellow; */
		}


			/* =============================== */
			/* Img */
			/* =============================== */
			.logo {
				margin-top: 6%;
				margin-left: 5%;
				
				height: 45px;

				/* background-color: orange; */
			}


			/* =============================== */
		/* Div */
		/* =============================== */
		.menu {
			display: flex;
			justify-content: space-between;
            align-items: center;
            
            margin-top: 11.5%;
            margin-right: 5%;
			margin-left: 5%;
			
			/* h3 */
            font-family: "Raleway-Regular";
			
			width: 100%;
		}
		

			/* =============================== */
			/* Li */
			/* =============================== */
			.menu ul {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				
				margin: 0%;

				padding: 0%;

				width: 62%;
			}


				.menu li {
					list-style: none;

					color: black;
					
					/* background-color: darkturquoise; */
				}


					.menu li a {
						text-decoration: none;

						color: black;
						
						/* background-color: orange; */
					}


					.menu li a.active {
						text-decoration: none;

						margin-left: -14%;

						padding-top: 20%;
						padding-right: 10%;
						padding-left: 14%;

						border-top:  #0065FC solid 2px;
						
						color: #0065FC;

						/* background-color: orange; */
					}


			.menu a.fixed {
                text-decoration: none;
                
                margin-left: 10%;

				/* h2 */
				font-family: "Raleway-Bold";

				color: #0065FC;

				/* background-color: orange; */
			}


		/* =============================== */
		/* Div */
		/* =============================== */
		.textHeader_Top {
			display: flex;
			flex-wrap: wrap;

            margin-top: 5%;
            margin-left: 3%;

			/* background-color: greenyellow; */
		}
		
		
			/* Trouvez votre hébergement ... */
			.textHeader_Top h2 {
				font-size: 140%;
				word-spacing: -25%;
				line-height: 140%;

				margin: 0%;
				
				/* background-color: darkturquoise; */
			}


			/* En plein centre ville... */
			.textHeader_Top p {
				margin-top: 2%;
				
				/* background-color: darkviolet; */
			}


		/* =============================== */
		/* Div */
		/* =============================== */
		.rechercher {
			display: flex;
			justify-content: center;

            margin-top: 2%;

			height: 52px;

			border-radius: 15px;
		}


			/* =============================== */
			/* Figure */
			/* =============================== */
			.rechercher figure {
				display: flex;
				justify-content: center;
				align-items: center;

				margin: 0%;
				
				width: 51px;
				
				border-radius: 15px 0px 0px 15px;

				background-color: #F2F2F2;
			}


			/* =============================== */
			/* Form */
			/* =============================== */
			.rechercher form {
				display: flex;

				border: #F2F2F2 solid 2px;
			}


				.rechercher input {
					/* h2 */
					font-family: "Raleway-Bold";
					font-size: 113%;

					margin-top: 1%;
					margin-bottom: 1%;
					
					padding-left: 10%;
					
					border: none;

					/* background-color: violet; */
				}

			
			/* Rechercher */
			.rechercher a {
				display: flex;
				justify-content: center;
				align-items: center;

				text-decoration: none;

				margin-left: -1%;

				padding-right: 10px;
				padding-left: 10px;

				color: white;

				border-radius: 0px 15px 15px 0px;
				background-color: #0065FC;
            }
            

                .rechercher a h2 {
                    font-size: 113%;
                }

				
				.rechercher a .searchIcon {
					font-size: 0%;

					width: 0%;
				}


		/* =============================== */
		/* Nav */
		/* =============================== */
		nav {		
			margin-top: 6%;
			margin-left: 3%;
			
			/* background-color: greenyellow; */
		}


			/* Filtres */
			nav h2 {
				margin: 0%;

				/* background-color: orange; */
			}

			
			/* =============================== */
			/* Li */
			/* =============================== */
			.filtres {
				display: flex;
				flex-wrap: wrap;
				align-content: space-between;
				
				list-style: none;

				margin-top: 2.5%;
				margin-left: -1%;
				margin-bottom: 0%;
				
				padding-left: 0%;
				/* background-color: darkturquoise; */
			}

				.filtres li {
					display: flex;
					justify-content: space-between;

					margin-right: 1.5%;
					margin-bottom: 3%;

					height: 46px;

					border:  lightgray solid 2px;
					border-radius: 30px;
					
					/* background-color: orange; */
				}


					/* =============================== */
					/* Figure */
					/* =============================== */
					.filtres li figure {
						display: flex;
						position: absolute;
						justify-content: center;
						align-items: center;

						margin: -2px;

						height: 50px;
						width: 50px;
						
						border-radius: 30px;
						
						background-color: #DEEBFF;
					}


						.filtres li figure i {
							color: #0065FC;
						}

					/* =============================== */
					/* Div */
					/* =============================== */
					.filtresOnHover {
						display: flex;
					}


						.filtresOnHover a {
							display: flex;
							justify-content: center;
							align-items: center;

							/* h2 */
							font-family: "Raleway-Bold";
	
							padding-right: 20px;
							padding-left: 58px;
							
							border-radius: 30px;
							
							/* background-color: darkturquoise; */
						}


			/* =============================== */
			/* Div */
			/* =============================== */
			.textHeader_Bot {
				display: flex;
				justify-content: flex-start;
				align-items: center;

                margin-top: 1%;

				/* background-color: greenyellow; */
			}


				/* =============================== */
				/* Figure */
				/* =============================== */
				.textHeader_Bot figure {
					display: flex;
					justify-content: center;
					align-items: center;

                    margin: 2.5%;
                    margin-right: 2%;

					height: 20px;
					width: 20px;
					
					border:  lightgray solid 2px;
					border-radius: 30px;
						
					/* background-color: red; */
				}
				
				
					.textHeader_Bot figure i {
						font-size: 75%;
						color: #0065FC;
					}
				
				
				/* Plus de 500 logements... */
				.textHeader_Bot p {
					margin: 0%;

					width: 60%;

					/* background-color: darkviolet; */
				}




	/* ============================================================================================================= */
	/* 			----  SECTION  ----  Hébergement Et Populaires  ---- */
	/* ============================================================================================================= */
	.hebergementsEtPopulaires {
		display: flex;
		flex-wrap: wrap-reverse;
        justify-content: center;

		/* background-color: violet; */
	}


		.hebergementsEtPopulaires .W3C_Validator {
			font-size: 0%;
		}



		/* ==================================================== */
		/* ----  SECTION  ----  Hébergements
		/* ==================================================== */
		.hebergements {
            width: 97%;
            
            margin-top: 7%;
            
            border-radius: 20px;
		}
		

			/* Hébergements à Marseille */
			.hebergements h2 {
                margin-left: 5%;
			}


			/* =============================== */
			/* Div */
			/* =============================== */
			.hebergementsPhotos {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;

                /* background-color: orange; */
			}


				.hebergementsPhotos a {
                    width: 45%;
                    margin: 2%;
				}


				/* =============================== */
				/* Figure */
				/* =============================== */
				.hebergementsPhotos .thumbnails {
					display: flex;
					flex-wrap: wrap;
					align-content: center;
					
					position: relative;

					margin: 0%;
					
					padding: 2%;

					height: 250px;

					border-radius: 20px;

					box-shadow: 5px 5px 10px lightgray;
					
					color: black;
					
					background-color: white;
				}


					/* =============================== */
					/* Img */
					/* =============================== */
					.hebergementsPhotos .thumbnails Img {
						object-fit: cover;

						margin-top: -75px;

						width: 100%;
						height: 70%;

						border-radius: 17px 17px 0px 0px;
					}


					/* =============================== */
					/* Figcaption */
					/* =============================== */
					.hebergementsPhotos .thumbnails figcaption {
						display: flex;
						flex-wrap: wrap;
						align-content: space-around;
						
						position: absolute;

						margin-bottom: -180px;
										
						padding: 3%;
						padding-bottom: 1%;
						padding-left: 3%;
						
						border-radius: 0px 0px 20px 20px;
						
						/* background-color: yellowgreen; */
					}
					

						/* Figcaption h2 */
						.hebergementsPhotos .thumbnails figcaption h2 {
							font-size: 97%;

							margin: 1%;
							margin-bottom: 2.5%;			
							
							width: 100%;
							
							/* background-color: violet; */
						}


						/* Figcaption p */
						.hebergementsPhotos .thumbnails figcaption p {
							font-size: 88%;

							margin: 1%;
							margin-bottom: 2.5%;
							
							width: 100%;
							
							/* background-color: darkviolet; */
						}

						
							/* =============================== */
							/* Figure  --- Stars --- */
							/* =============================== */
							
							/* Figure Stars */
							.hebergementsPhotos .thumbnails figcaption figure {
								display: flex;

								margin: 1%;

								/* background-color: tomato; */
							}
							

								/* Active Stars */
								.hebergementsPhotos .thumbnails figcaption .active {
									font-size: 75%;

									color: #0065FC;
								}


								/* Greyed Out Stars */
								.hebergementsPhotos .thumbnails figcaption .greyedOut {
									font-size: 75%;

									color: lightgray;
								}
				


			/* Afficher plus */
			.hebergements h3 {
				font-family: "Raleway-Bold";

				margin: 2.5%;
				margin-left: 5%;
			}




		/* ==================================================== */
		/* ----  SECTION  ----  Populaires
		/* ==================================================== */
		.populaires {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            margin-top: 3%;
            padding-bottom: 2.5%;

            width: 97%;
            
            border-radius: 20px;
			
			background-color: #F2F2F2;
		}
		

			/* =============================== */
			/* Div */
			/* =============================== */
			.populairesTitle {
				display: flex;
                justify-content: flex-start;

                margin-left: 3%;
                
                width: 100%;

				/* background-color: lime; */
			}


				/* =============================== */
				/* Figure */
				/* =============================== */
				.populairesTitle figure {
					line-height: 100%;
				}


				.populairesTitle figure i {
					font-size: 120%;
				}


			/* =============================== */
			/* Div */
			/* =============================== */
			.populairesPhotos {
				display: flex;
				flex-wrap: wrap;
                justify-content: center;

                width: 80%;

				/* background-color: darkturquoise; */
			}


			.populairesPhotos a {
				display: flex;
				justify-content: center;

				margin: 1%;

				width: 100%;
			}
				

				/* =============================== */
				/* Figure */
				/* =============================== */
				.populairesPhotos a .thumbnails {
					display: flex;
									
					position: relative;

					margin: 0%;

					padding: 1%;

					width: 100%;
					height: 150px;
					
					border-radius: 17px;

					box-shadow: 5px 5px 10px lightgray;
					
					color: black;
					
					background-color: white;
				}


						/* =============================== */
						/* Img */
						/* =============================== */
						.populairesPhotos a .thumbnails Img {
							object-fit: cover;

							width: 50%;

							border-radius: 15px 0px 0px 15px;
						}


						/* =============================== */
						/* Figcaption */
						/* =============================== */
						.populairesPhotos a .thumbnails figcaption {
							display: flex;
							flex-wrap: wrap;
							align-content: space-around;

							position: absolute;

							margin-left: 53%;

                            width: 51%;
							height: 92%;

							border-radius: 0px 20px 20px 0px;

							/* background-color: yellowgreen; */
						}


							/* Figcaption h2 */
							.populairesPhotos a .thumbnails figcaption h2 {
								margin: 0%;			
								
								width: 85%;
								
								/* background-color: violet; */
							}


							/* Figcaption p */
							.populairesPhotos a .thumbnails figcaption p {
								margin: 0%;
								
								width: 85%;
								
								/* background-color: darkviolet; */
							}

							
								/* =============================== */
								/* Figure  --- Stars --- */
								/* =============================== */
								
								/* Figure Stars */
								.populairesPhotos a .thumbnails figcaption figure {
									display: flex;

									margin: 0%;

									/* background-color: tomato; */
								}
								

									/* Active Stars */
									.populairesPhotos a .thumbnails figcaption .active {
										font-size: 75%;

										color: #0065FC;
									}


									/* Greyed Out Stars */
									.populairesPhotos a .thumbnails figcaption .greyedOut {
										font-size: 75%;

										color: lightgray;
									}
					



	/* ============================================================================================================= */
	/* 			----  SECTION  ----  Activités  ---- */
	/* ============================================================================================================= */
	.activites {
		display: flex;
		flex-wrap: wrap;
        
        margin-top: 7%;

		padding-bottom: 2%;
        
        width: 97%;
        
        border-radius: 20px;

        background-color: #F2F2F2;
	}


		.activites h2 {
            margin-left: 4%;

			/* background-color: lime; */
		}


		/* =============================== */
		/* Div */
		/* =============================== */
		.activitesPhotos {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			/* background-color: orange; */
		}	
		
		
			/* =============================== */
			/* Figure */
			/* =============================== */
			.activitesPhotos .thumbnails {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-content: space-between;

				position: relative;

                width: 70%;
                
				margin: 2%;
				margin-top: 1%;
				margin-bottom: 1%;
				
				/* background-color: darkviolet; */
			}


				.activitesPhotos .thumbnails a {
					padding-top: 3%;
					padding-bottom: 3%;

					width: 100%;
				}
				
				
					/* =============================== */
					/* Figure */
					/* =============================== */
					.activitesPhotos .thumbnails figure {
						display: flex;
						flex-wrap: wrap;
						align-items: flex-end;
						justify-content: center;
											
						position: relative;
						
						margin: 0%;

						width: 100%;

						border-radius: 20px;
						box-shadow: 5px 5px 10px lightgray;
					}
						
						
						/* =============================== */
						/* Img */
						/* =============================== */
						.activitesPhotos .thumbnails Img, .Pict_2, .Pict_3, .Pict_5, .Pict_6 {
							object-fit: cover;
							
							width: 100%;
							height: 275px;
						
							border-radius: 20px;
						}


							/* =============================== */
							/* Figcaption */
							/* =============================== */
							.activitesPhotos .thumbnails figcaption {
								display: flex;
								flex-wrap: wrap;
								align-content: center;
								
								position: absolute;
								width: 100%;
								
								height: 55px;
								
								border-radius: 0px 0px 20px 20px;

								background-color: white;
							}
							

								/* Vieux Port h2 */
								.activitesPhotos .thumbnails figcaption h2 {
									font-size: 100%;
									
									padding-left: 6.5%;
									
									color: black;
								}
						
						
						


							/* =============================== */
							/* Figcaption */
							/* =============================== */
							.activitesPhotos .thumbnails figure figcaption {
								display: flex;
								flex-wrap: wrap;
								align-content: center;
								
								position: absolute;
								width: 100%;
								
								height: 55px;
								
								border-radius: 0px 0px 20px 20px;

								background-color: white;
							}


								/* Fort de Pomègues h2 */
								.activitesPhotos .thumbnails figure figcaption h2 {
									font-size: 100%;

									padding-left: 6.8%;
									
									color: black;
								}	
				



	/* ============================================================================================================= */
	/* 			----  FOOTER  ---- */
	/* ============================================================================================================= */
	footer {
		display: flex;
		flex-wrap: wrap;
        justify-content: center;

        margin-top: 10%;
		padding-bottom: 10%;
		padding-left: 15%;
        
        width: 100%;
		
		background-color: #F2F2F2;
	}


		/* =============================== */
		/* Div */
		/* =============================== */
		footer div {
			width: 100%;
		}


			footer div h2 {
				margin: 0%;
				margin-top: 8%;
				margin-left: 7.6%;
			}
		
			
			/* =============================== */
			/* Li */
			/* =============================== */
			footer div .footerList {
				list-style: none;
				
				font-family: "Raleway-Regular";

				margin-left: -3%;
				
				/* background-color: yellowgreen; */
			}
}