
/* =============================== */
/* Body */
/* =============================== */
body {
	display: flex;
	flex-direction: column;
	margin: 0% 0% 0% 12.5%;

	width: 75%;
}


/* =============================== */
/* Header */
/* =============================== */
header {
	padding: 0% 0% 27% 0%;

	background-color: tomato;
}


/* =============================== */
/* Section */
/* =============================== */
.hebergementsEtPopulaires {
	display: flex;
	justify-content: space-between;
	
	background-color: violet;
}


	/* =============================== */
	/* Section */
	/* =============================== */
	.hebergements {
		margin: 1%;
		width: 70%;
		
		background-color: orange;
	}
	
	
		/* =============================== */
		/* Div */
		/* =============================== */
		.hebergementsPhotos {
			display: flex;
			flex-flow: row wrap;
			margin: 1%;
			
			background-color: grey;
		}
		
			/* =============================== */
			/* Div */
			/* =============================== */
			.hebergementsPhotos > div {
				display: flex;
				align-content: center;
				padding: 1%;			
				margin: 1%;			
				/* width: 30%; */
				height: 172px;
				width: 275px;
				
				background-color: white;
			}

	/* =============================== */
	/* Section */
	/* =============================== */
	.populaires {
		margin: 1%;	
		width: 30%;
		
		background-color: dodgerBlue;
	}
		/* =============================== */
			/* Div */
			/* =============================== */
			.populairesPhotos {
				display: flex;
				flex-direction: column;
				margin: -5% 10%;
			
				width: 76%;
				height: 80%;
			
				background-color: grey;
			}
			
				/* =============================== */
				/* Div */
				/* =============================== */
				.populairesPhotos > div {
					margin: 2%;
					text-align: center;
					line-height: 327%;
					font-size: 300%;
					
					height: 100%;
					
					background-color: white;
				}


/* =============================== */
/* Section */
/* =============================== */
.activites {
	padding: 0% 0% 18% 0%;

	background-color: green;
}


	/* =============================== */
	/* Div */
	/* =============================== */
	.activitesPhotos {
		display: flex;
		justify-content: space-between;
		margin: -1.5% 0% 0% 2%;
		
		width: 96%;
		height: 81%;
		
		background-color: grey;
	}
	
	
		/* =============================== */
		/* Div */
		/* =============================== */
		.activitesPhotos > div {
			margin: 1%;
			text-align: center;
			line-height: 400%;
			font-size: 300%;
			
			width: 100%;
			
			background-color: white;
		}
		
		
			/* =============================== */
			/* Div */
			/* =============================== */
			.x2actiPhotos {
				display: flex;
				flex-wrap: wrap;
				align-content: space-between;
				margin: 0% 0% 0% 0%;
				
				height: 94.5%;
			}
			
			
				/* =============================== */
				/* Div */
				/* =============================== */
				.x2actiPhotos > div{
					margin: 3%;
					text-align: center;
					line-height: 200%;
					font-size: 100%;
					
					width: 100%;
					height: 45%;
					
					background-color: lightGrey;
				}


/* =============================== */
/* Footer */
/* =============================== */
footer {
	display: flex;
	justify-content: flex-start;
	
	width: 100%;
    height: 22%;
	
	background-color: violet;
}

	/* =============================== */
	/* Div */
	/* =============================== */
	footer > div {
		margin: 1%;
		text-align: left;
		line-height: 165%;
		font-size: 140%;
		
		width: 30%;
		
		background-color: grey;
	}
	
		/* =============================== */
		/* Ul */
		/* =============================== */
		div > ul {
			margin: 0% 3% 0% -3%;
			list-style: none;
			
			background-color: white;
		}