
 .maquette {
	background-image: url("../Maquette Desktop.png");
	background-repeat: no-repeat;
	position: absolute;
	
	width: 100%;
	height: 205%;
	
	opacity: 60%;
} 

.maquetteSubDivided {
	background-image: url("../Maquette Desktop - SubDivided.png");
	background-repeat: no-repeat;
	position: absolute;
	
	width: 100%;
	height: 205%;
	
	opacity: 50%;
}