
/* Regular */
@font-face {
    font-family:"Raleway-Regular";
    src: url("../Raleway Police/Raleway-Regular.ttf");
}

/* Bold */
@font-face {
    font-family:"Raleway-Bold";
    src: url("../Raleway Police/Raleway-Bold.ttf");
}


h1 {
    font-family: "Raleway-Bold";
    line-height: 100%;
	font-weight: 400;
	font-size: 136%;
}

h2 {
    font-family: "Raleway-Bold";
    line-height: 100%;
	font-weight: 400;
	font-size: 113%;
}

h3 {
    font-family: "Raleway-Regular";
    line-height: 100%;
	font-weight: 400;
	font-size: 100%;
}

p {
    font-family: "Raleway-Regular";
    line-height: 100%;
	font-weight: 400;
	font-size: 100%;
}